@model Contoso_University.Models.Course
@{
	ViewData["Title"] = "Courses";
}
<h1>Details</h1>
<div>
	<h4>Course</h4>
	<hr />
	<dl class="row">
		<dt> @Html.DisplayNameFor(model => model.Title)</dt>
		<dt> @Html.DisplayFor(model => model.Title)</dt>
		<dt> @Html.DisplayNameFor(model => model.Credits)</dt>
		<dt> @Html.DisplayFor(model => model.Credits)</dt>
	</dl>
</div>
<div>
	<a asp-action="Index" class="btn btn-secondary">Index</a>
</div>